.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #50B074;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selected-nominee {
	color: red;
}

.ballot {
	padding-bottom: 25px;
}

.modal {
	background-color: rgba(0,0,0,0.3);
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
	padding-top: 50px;
}

.modal-content {
	background-color: #fff;
	width: 50%;
	height: 85%;
	margin: auto;
	border: 2px solid black;
	border-radius: 20px;
}

.modal-close-div {
	float: right;
	padding: 10px;
}

.modal-text {
	clear: both;
}

.nominee-container {
	display: flex;
	flex-wrap: wrap;
}

.nominee {
	border: 2px solid black;
	border-radius: 20px;
	width: 20vw;
	margin: 25px;
	padding: 10px;
}

.nominee img {
	width: 18vw;
	margin: 10px;
}

/* .vote-button {
	
} */